# This file was generated automatically from conda-smithy. To update this configuration,
# update the conda-forge.yml and/or the recipe/meta.yaml.

language: generic

os: osx
osx_image: xcode6.4

env:
  matrix:
    - CONFIG=osx_c_compilerclang
    - CONFIG=osx_c_compilertoolchain_c

  global:
    # The BINSTAR_TOKEN secure variable. This is defined canonically in conda-forge.yml.
    - secure: "kuM3MfIRqWZspCFmKRp9E0LrLPLiJkAXtIyOTL6A2S7wgP1usOu2r4Ecu3M6n8qdntdtDJ9Bej4EBANhHBmQO9pOrUAU3ypY0IhD0dE+QhURbgWTPdRYnOW0oKL8yEn2wL39thjJTMAxwN5TtrAyxYdCZEK9M7fPQYJds1T8XbJNc7gLXt+5CYtR+foAX8QFMySfismpk8ZRggq/nB0N/pnp7KpKZpKQCvuiXtaapQnL3QYSu7/Uo5L6aFsZBJ19yLNpyoDbgYiceZoah4ySWajdp7EXGQyabyYCXL08pftFRtR9JO8hcMUJg3VwWy/F7u8r/g2vVPdl83nua7E8HdYdvDqk3b+JxUK1CBs1NrEyHHrRGoq3NEpRpmfCgTtL4Jfq6ONycX+d6tRXkD2TUI2QkXOP/iXxQpP/euHZcwfn7GpOEWpPKltykQBJDUmK+4aS8wFj60SKzrK2dclmsCvVERz6Wj3eQyihPVXhClB+bE6W0cEtOnaSHhuWCYIk++Du35AFify1Nu2SJSNYZOgbLanWt9OP+b0/UmFem4D+KkqEohltNN9i7SMBf0b0M5ValboWZ8ChjGutePA/MC33l8SDab6M2II+SaN3Nef+IKj0OJKT8Uf016nL2pQYpHEX4LIL7AsbfBcBlxmI8KTsnaDLWYGzGRJZIP5vHXg="


before_install:
    # Fast finish the PR.
    - |
      (curl https://raw.githubusercontent.com/conda-forge/conda-forge-ci-setup-feedstock/branch2.0/recipe/conda_forge_ci_setup/ff_ci_pr_build.py | \
          python - -v --ci "travis" "${TRAVIS_REPO_SLUG}" "${TRAVIS_BUILD_NUMBER}" "${TRAVIS_PULL_REQUEST}") || exit 1

    # Remove homebrew.
    - |
      echo ""
      echo "Removing homebrew from Travis CI to avoid conflicts."
      curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/uninstall > ~/uninstall_homebrew
      chmod +x ~/uninstall_homebrew
      ~/uninstall_homebrew -fq
      rm ~/uninstall_homebrew


install:
    # Install Miniconda.
    - |
      echo ""
      echo "Installing a fresh version of Miniconda."
      MINICONDA_URL="https://repo.continuum.io/miniconda"
      MINICONDA_FILE="Miniconda3-latest-MacOSX-x86_64.sh"
      curl -L -O "${MINICONDA_URL}/${MINICONDA_FILE}"
      bash $MINICONDA_FILE -b

    # Configure conda.
    - |
      echo ""
      echo "Configuring conda."
      source /Users/travis/miniconda3/bin/activate root

      conda install --yes --quiet conda-forge::conda-forge-ci-setup=2
      setup_conda_rc ./ ./recipe ./.ci_support/${CONFIG}.yaml

      source run_conda_forge_build_setup

    # compiler cleanup
    - |
      mangle_compiler ./ ./recipe ./.ci_support/${CONFIG}.yaml

script:
  # generate the build number clobber
  - make_build_number ./ ./recipe ./.ci_support/${CONFIG}.yaml
  - conda build ./recipe -m ./.ci_support/${CONFIG}.yaml --clobber-file ./.ci_support/clobber_${CONFIG}.yaml
  - upload_package ./ ./recipe ./.ci_support/${CONFIG}.yaml
